.pagination {
  margin-bottom: 25px;
}

.pagination button {
  border: 1px solid blue;
  padding: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  color: blue;
}

.pagination button:not(:last-child) {
  margin-right: 10px;
}

.selectedPage {
  border: none;
  background-color: blue;
  color: #fff !important;
}