.posts {
  padding: 0 2%;
}

.newPost textarea {
  width: 500px;
  height: 150px;
  margin: 15px 0;
}

.newPost button {
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: .2rem;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}

.newPost button:first-child {
  margin-right: 20px;
}

.btnAdd {
  background-color: #10b410;
  color: #fff;
}

.btnRemove {
  background-color: #ee0b0b;
  color: #fff;
}

.postsWrapper {
  padding: 20px 0;
}